html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

canvas {
  background-color: #272727;
}

button {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  position:fixed;
  outline: none;
  background-color: #aaa;
}

button:hover {
  cursor: pointer;
  background-color: #ccc;
}