html, body {
  margin: 0;
}

html {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  height: inherit;
  overflow: hidden;
}

#create-button {
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border: none;
  outline: none;
  position:fixed;
  border-radius: 50%;
  background-color:#28a3ea;
}

#create-button:hover {
  cursor: pointer;
  background-color: #218ac7;
}

span {
  color: #1f1f1f;
  font-size: 7.5rem !important;
}