html, body {
  margin: 0;
}

html {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  height: inherit;
  overflow: hidden;
}

#create-button {
  top: 10%;
  left: 7%;
  color: #1f1f1f;
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  position: fixed;
  font-weight: bold;
  border-radius: 50%;
  background-color:#727272;
}

span {
  font-size: 5rem !important;
}

#create-button:hover {
  cursor: pointer;
  background-color: #727272;
  animation-name: colored;
  animation-duration: 1s;
}

@keyframes colored {
  20%{
    color: #555
  }

  40%{
    color: #444
  }

  60%{
    color: #333
  }

  80%{
    color: #222
  }
}